<div class="card mb-3 py-3">
  <div class="row">
    <div class="col-md-3">
      <img [src]="imagePath" class="img-fluid p-3 ms-2 mt-2" alt="..." />
      <button (click)="fileInput.click()" class="img-applouder">
        <img
          class="img-fluid rounded"
          src="../../../assets/gallery-1.png"
          alt=""
          srcset=""
        />
      </button>
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        style="display: none"
      />
    </div>
    <div class="col-md-9">
      <div class="mt-4">
        <label for="exampleFormControlInput" class="form-label"
          >اسم الموارد
        </label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput"
          placeholder=""
        />
      </div>
    </div>
  </div>
</div>
