.form-control {
  width: 80%;
}
.img-fluid {
  height: 80%;
}
.img-applouder {
  background-color: #0771de;
  border-radius: 45px;
  position: absolute;
  top: 43px;
  right: 69px;
  border: transparent 1px solid;
}
