<div class="bg-white pt-3 mt-4 pb-2 card">
  <div class="row">
    <div class="col-4"><p class="ps-3">اختر نوع الموارد</p></div>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1"
          >حجز خلال اليوم</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2"
          >حجز مدة ( أكثر من يوم )</label
        >
      </div>
    </div>
  </div>
</div>
