<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-lg-1">
        <img src="../../../assets/arrow-right-1.svg" alt="arrow-right" />
      </div>
      <div class="col">
        <p>إضافة موارد جديدة</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label ms-2" for="flexSwitchCheckDefault"
        >مفعلة</label
      >
      <button type="button" class="btn btn-dark mx-3">حفظ التغييرات</button>

      <button type="button" class="btn btn-outline-danger">
        <img src="../../../assets/trash.svg" alt="trash" />
        حذف الموارد
      </button>
    </div>
  </div>
</div>
<div></div>
